.menu {
  position: relative;
  &__button {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }
  &__actions {
    display: flex;
    flex-direction: column;
    background: #181818;
    border-radius: 12px;
    position: absolute;
    right: 24px;
    top: 85%;
    z-index: 1;
    padding: 14px 16px;
    & button {
      min-width: 120px;
      text-align: left;
      padding: 4px 8px;
      border-radius: 12px;
      background: transparent;
      color: #fff;

      &:hover {
        background: #436bfd;
      }

      & span {
        cursor: pointer;
        user-select: none;
        display: block;
        width: 100%;
        font-size: 15px;
        line-height: 1.5;
        font-weight: 500;
        color: #ffffff;
        padding: 4px;
        border-radius: 8px;
      }
    }
  }
}
