.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: 52px;
  border-radius: 8px;
  background: #436bfd;
  padding: 10px;
  & span {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
  }
  &.dark__blue {
    background: rgba(67, 107, 253, 0.12);
    & span {
      color: #436bfd;
    }
  }
  &.red {
    background: #fd4343;
  }
}
