.forget {
  padding: 32px 0 0;

  &__info {
    margin: 0 0 32px;

    &__redirect {
      margin: 0 0 40px;
      display: flex;
      align-items: center;
      gap: 8px;
      color: #436bfd;
      font-family: "Space Grotesk", sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
    }

    &__title {
      margin: 0 0 24px;
      display: flex;
      align-items: center;
      gap: 20px;
      color: #fff;
      font-size: 26px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.13px;
    }

    &__subtitle {
      color: #ababab;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  &__form {
    display: grid;
    gap: 24px;
  }
}
