.tabs {
  display: flex;
  gap: 8px;
  width: 100%;
  border-radius: 8px;
  background: #181818;
  padding: 8px;
  & .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 6px;
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
    background: #181818;
    &.active {
      background: #436bfd;
      cursor: auto;
    }
    & span {
      width: max-content;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
    }
  }
}
