.lawyers {
  width: 100%;
  height: 100%;
  padding: 30px;

  &__filter {
    width: 100%;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__table {
    width: 100%;
    height: calc(100vh - 200px);

    & table {
      & tr td .more {
        display: flex;
        flex-direction: column;
        gap: 16px;
        button:hover {
          background-color: #3b82f6;
        }
      }
    }
  }
}
